
{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
<div class="container background-payment mt-5">
        <h1>PAIEMENT DE VOTRE COMMANDE</h1>
        <div class="container forpayment">
        <p>Votre commande a bien été prise en compte. </br>Vous allez recevoir un email de confirmation 
        que vous imprimerez et utiliserez pour accéder au musée </br> A bientôt pour votre visite !</p>
        </br>
        </div>
    </div>  

{% endblock %}
